{% load static %}
<html>
    <head>
        <title>SearchGo</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet" />

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    </head>

    <body>
        <form class="signup-form" method="POST" action="/signup/">
        {% csrf_token %}
        <section style="background-color: #D6E4ED ; background-image: url('{% static 'imgs/bg_lib.jpg' %}'); background-repeat: no-repeat; background-attachment: fixed ; background-size: 100% 100%;">
            <br /><br />
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mx-auto">
                        <div class="card" style="opacity:0.96 ;">
                            <div class="card-body">
                            
                                <div class="row">
                                    <div class="col">
                                        <center>
                                            <img width="100px" src="{% static 'imgs/g_profile.png' %}" />
                                        </center>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col">
                                        <center>
                                            <h4>User SignUp</h4>
                                        </center>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col">
                                            <hr />
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Full Name :</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" ID="TextBox1" name = "first_name" placeholder="Enter Full Name"></input>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-6">
                                        <label>Gender :</label>
                                        <div class="form-group" >
                                            <select id="gender" class="form-control" name ="gender" ID="TextBox2">
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Contact Number :</label>
                                        <div class="form-group">
                                            <input type="number" class="form-control" ID="TextBox3" name="contact" placeholder="Enter Contact Number">
                                        </div>
                                    </div>
                                
                                    <div class="col-md-6">
                                        <label>Email ID :</label>
                                        <div class="form-group">
                                            <input type="email" class="form-control" ID="TextBox4" name="email" placeholder="Enter Email ID">
                                        </div>
                                    </div>
                                </div>                                                                    
    
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username :</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="TextBox8" name="username" placeholder="Enter Username" >
                                        </div>
                                    </div>
                                
                                    <div class="col-md-6">
                                        <label>Password :</label>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="TextBox9" name="password1" placeholder="Enter Password">
                                        </div>
                                    </div>
                                </div>
                                <h4>{{ msg }}</h4>
                                <div class="row">
                                    <div class="col">
                                    
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-block btn-lg" id="Button2" value="Sign Up">                                                                        
                                        </div>
    
                                    </div>  
                                </div>
    
                            </div>
                        </div>
                        <!-- <%--<center>
                            <a href="homepage.aspx"><< Back To Home</a>
                        </center>--%> -->
                    </div>
                </div>
            </div>
             
            <br><br><br><br><br><br /><br>
            </section>
        </form>
    </body>
</html>