{% load static %}
<html>
    <head>
        <title>SearchGo</title>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'fontawesome/css/all.css" rel="stylesheet' %}" />

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


    </head>

    <body>
        <form class="login-form" method="POST" action="/login/">
        {% csrf_token %}
    <section style="background-color: #D6E4ED ; background-image: url('{% static 'imgs/bg_lib_2.jpg' %}'); background-repeat: no-repeat; background-attachment: fixed ; background-size: 100% 100%;">

    <br /><br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card" style="opacity:0.9 ;">
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img width="150px" src="{% static 'imgs/m_profile.jpeg' %}" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3>User Login</h3>
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <center>
                                    <hr />
                                </center>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input type="text" class="form-control rounded-pill" name="username" id="TextBox3" placeholder="Username"></input>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control rounded-pill" name="password" id="TextBox4" placeholder="Password" ></input>
                                </div>
                                <h4>{{ msg }}</h4>
                                <div class="form-group">
                                    <input class="btn btn-success btn-block btn-lg rounded-pill" id="Button3" type="submit" value="Login">
                                    <hr />
                                </div>

                                <div class="row">
                                    <div class="col">   
                                        <center>
                                            <h6 style="color: grey">Don't have an Account ?</h6>
                                        </center>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <a href="/signup/">
                                        <input class="btn btn-primary btn-block btn-lg rounded-pill" id="Button2" type="button" value="Sign Up"/>                                
                                    </a>
                                </div>
                            </div>  
                        </div>

                    </div>
                </div>
                <!-- <%--<center>
                    <a href="homepage.aspx"><< Back To Home</a>
                </center>--%> -->
            </div>            
        </div>
    </div>
        
    <br /><br /><br><br><br>
    </section>
    </form>
    </body>

</html>